.navbar{
    display: grid;
    grid-template-columns: 60% 40%;    
    position: fixed;
    width: 100%;
    background-color: white;
}

.logo{
    height: 55px;
    width: 200px;
    padding: 0px;
    margin: 0px 0px 0px 20px;
}

.btns{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.toggleBtn{
    display: none;
}

.loginBtn, .registerBtn{
    width: 100px;
    height: 30px;
    margin: 0px 8px;
    padding: 3px;
    font-size: 18px;
    background-color: white;
    border: 1px ridge rgb(138, 133, 133);
    border-radius: 5px;
}

.registerBtn{
    background-color: rgb(66, 168, 26);
}

@media(max-width : 700px){
    .navbar{
        grid-template-columns: auto;
    }

    .title{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        width: 70%;
    }

    .btns{
        width: 100%;
        grid-template-columns: auto;
        background-color: #01CB63;
        height: 130px;
    }
    
    .loginBtn, .registerBtn{
        border: none;
        background: none;
        color: white;
        margin: 5px;
    }

    .toggleBtn{
        display: block;
        width: 35px;
        height: 25px;
        margin-right: 30px; 
    }

    .hideEle{
        display: none;
    }
}

/*end of homepage .js component */

/* start of poster .js component */

.poster{
    background-color: rgb(255, 255, 255);
    
    color: rgb(255, 255, 255);
    width: 100%;
    max-height: 800px;
    display: flex;
    padding: 0%;
    margin-right: -10%;
    flex-wrap: wrap;
    
    
}
@media only screen and (max-width: 600px) {
    .poster {
      height: 800px;
    }
  }
.postercontent{
    position: static;
    min-width: 320px;
    flex-wrap: wrap;
    background-color: #01CB63;
    width: 100%;
    font-size: xx-large;
    line-height: 30px;
    flex: 3;
    text-align: left;
    padding-top: 5%;
    padding-left: 5%;
        
}
.postercontent h3{
    padding-top: 5%;
    margin-left: 5%;
    text-align: start;
    
}
.paraasheading{
    color: #1F2532;
    font-size: large;
    line-height: 30px;
    text-align: start;
}
.posterimage{
    min-width: 320px;
background-color:rgb(255, 255, 255);
flex: 2;


}
.posterimage {
    display: flex;
    flex-shrink: 0;
overflow: hidden;
margin: 0px 0px 0px 0px !important;
}
.posterimage img {
    margin: 0px 0px 0px 0px !important;
    min-height: 100%
    
}
.startbutton{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    box-sizing: border-box;
    margin: 5%;
    width: 220px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Noto Sans';
}
/* end of poster */

/* start of number */
.numbercontainer{
    display: flex;
    width: 100%;
    height: 100px;
    text-align: center;
}
@media (max-width:415px) {
    .numbercontainer h3,h5{
        font-size: small;
        font-weight: bold;
    }
  }
.number1{
    text-align: end;
    align-items: center;
flex: 1;
flex-shrink: 0;
background-color:  rgb(236, 236, 236);
justify-content: center;
display: flex;
flex-direction: column;
;
}
.number2{
    text-align: end;
    align-items: center;
    background-color:  rgb(236, 236, 236);
    flex: 1;
    justify-content: center;
    display: flex;
flex-direction: column;
flex-shrink: 0;
}
.number3{
    text-align: start;
    align-items: center;
    flex: 1;
    background-color: rgb(236, 236, 236);
    justify-content: center;
    display: flex;
flex-direction: column;
flex-shrink: 0;
}
.numbercontainer h3{
color: rgb(0, 0, 0);
border-bottom: 4px solid #01cb63;
}
h5{
    color: #86919D;
}

/*end of numbers */

/*start of couses */
.coursescontainer
{
    padding-top: 5%;
    line-height: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    
}
.courses{
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-around;
}

.course1 img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0px 0px 0px 0px !important;
    
}
.course2 img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0px 0px 0px 0px !important;
}
.course3 img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0px 0px 0px 0px !important;
}
.course1,.course2,.course3{
   
    background-color: rgb(255, 255, 255);
    color: black;  
    border-radius: 15px; 
    flex-basis: 20%;
    margin: 3%;
}
#courseheading{
    text-align: start;
    width: 350px;
}
#coursecard span{
font-style: italic;
margin-left: 2%;

}
#lectures{
    float: right;
    margin-right: 5%;
    font-weight: 600;
    color: #86919D;
}
#striken{
    margin-top: 2%;
    text-decoration: line-through;
}
i.totalstudents{
    float: left;
}
#time{
    float: left;
    margin-left: 2%;
    color: #86919D;
    font-weight: 600;
}
@media (max-width:600px) {
    #time,#profilename,#lectures {
        font-size: small;
    
    }
  }
.fees{
    color: #01cb63 !important;
    font-weight: bold;
}
#striken{
    color: black; 
    font-size: small;
}
#profilepic{
    
    border-radius: 50%;
    box-sizing: border-box;
}
#profilename{
    float: left;
    margin-top:2%;
}
.cardfooter{
    margin-top: 2%;
}
@media (max-width:1200px) and (min-width:700px) {
    .courses {
        padding-left: 20%;
        padding-right: 20%;
      justify-content: space-around;
    }
    .course3,.course1,.course2{
        border-bottom: 5px solid black;
        margin-top: 15%;
    }
  }

  @media (max-width:700px) and (min-width:350px) {
    .courses {

      justify-content: space-around;
    }
    .course3,.course1,.course2{
        margin-left: 5%;
        border-bottom: 5px solid black;
        margin-top: 15%;
    }
  }

  @media (max-width:415px) and (min-width:0px) {
    .courses {

      justify-content: space-around;
    }
    .course3,.course1,.course2{
        width: 3300px;
        font-size: large;
        margin-left: 5%;
        border-bottom: 5px solid black;
        margin-top: 15%;
    }
    h2#courseheading{
        width: 200px;
        
        font-size: small;
    }
    #striken,#profilename,#lectures{
        font-size: small;
    }
  }
#floabutton{
    position: relative;
    top: -60px;
    left: 110px;
    outline: none;
    box-sizing: border-box;
    background-color: #10182F;
    color: #01cb63;
    height: 30px;
    border-radius: 10px;
    width: 100px;
}
@media (max-width:415px) {
    #floabutton {
        position: relative;
        left: 50px;
        
    }
        
    }
  

/* starting of the Top Earners */

.topearners{
    background-color: rgb(255, 255, 255);
}

.topearners .heading,.heading{
    margin-left: 5%;
font-size: 40px;
font-weight: bold;
}
.st{
font-size: 25px;
font-style: italic;
margin-left: 5%;
color: #01CB63;
}
.topearnersflexcontainer{
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    margin-bottom: 3%;
}
.earnamount{
    text-align: end;
}
.earner1,.earner2,.earner3,.earner4{

        flex-shrink: 2;
    overflow: hidden;
    margin-bottom: 20px;
}
.earnerimage{
    margin: 0px 0px 0px 0px !important;
}

.amountearned{
    border-left: 5px solid #01CB63;
    padding-left: 1%;
}

@media (max-width:1600px) and (min-width:1200px) {
    .topearnersflexcontainer {

      justify-content:center;
    }
    .earner4,.earner2{
        margin-left: 5%;
        
    }
  }
  
@media (max-width:1600px) and (min-width:1200px) {
    .topearnersflexcontainer {

      justify-content:center;

    }
    .earner4,.earner3,.earner1,.earner2{
        margin-left:10%;
        
    }
  }
  /* how it works */
  .holder{
      width: 100%;
      height: 500px;
      overflow-x: hidden;
      overflow-y: hidden;
      
  }
  .holder img{
    margin: 0px 0px 0px 0px !important;   
  }

  /*testimonial starts */

  div.commentcontainer{
      display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 500px;
    align-items: center;
    padding: 1%;
    flex-wrap: wrap;
    margin-bottom: 3%;
  }
 
  @media only screen and (max-width: 500px) {
        
    div.commentcontainer{
        height: 800px;
        margin: 1%;
        padding: 1%;
        justify-content: space-around;
    }
    
    h3.contactheading{
        margin-top: 10%;
        font-size: larger;
    }
    .formheading{
        margin-top: 10%;
    }
  }
  .formheading{
    margin-top: 10%;
}
  div.comment1{
      min-width: 250px;
        background-color: rgb(255, 255, 255);
        flex:1;
        margin: 5%;
        height: 250px;
        box-shadow: 0px 20px 30px #00000088;
        line-height: 25px;
        text-align: start;
        padding: 1%;
        border-radius: 15px;
        font-size: large;
        margin-bottom: 1%;
    }
  div.comment2{
    min-width: 250px;
    background-color: rgb(255, 255, 255);
    flex:1;
    margin: 5%;
    height: 250px;
    box-shadow: 0px 20px 30px #00000088;
    line-height: 25px;
    text-align: start;
    padding: 1%;
    border-radius: 15px;
    font-size: large;
    margin-bottom: 1%;
    }
    @media only screen and (max-width: 800px) {
        div.comment1,div.comment2{
          height: 300px;
          margin: 1%;
          padding: 1%;
        
      }}   
    .commentimageholder{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    #commentimage{
        margin-top: 3%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        
    }
    .commenter{
        display: flex;
        width: 300px;
        align-items: center;
        margin: 2%;
    }
    .commentdate{
        color: #86919D;
        font-size: small;
    }
    
    /*contact heading starts */
    #contactheadingdiv{
        height: 100px;
        font-size: bold;
        text-align: center;
        width: 100%;
        color: black;
        background-color: white;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #contactheadingp{
        color: #01cb63;
    }
    #contactheadingh{

    }
    @media (max-width:535px) and (min-width:500px) {
        #contactheadingdiv{
            margin-top: 25%;
        }
      }
      @media (max-width:320px) and (min-width:200px) {
        #contactheadingdiv{
            margin-top: 25%;
            margin-bottom: 20%;
        }
      }
    
    /*contact starts */
    .contactheading{
        margin-top: 10%;
    }
    .contactcontainer{
        display: flex;
        flex-direction: row;
        flex: wrap;
        justify-content: center;
        text-align: center;
        
        overflow: hidden;
        margin: 0 auto;
    }
    .contactinfo{
        flex:1;
        background-color: #F8F9FB;
        
    }
    .contactinfo p{
        font-size: 25px;
    }
    .form p{
        font-size: 25px;
        font-weight: bold;
    }
    h3{
    
        text-align: center;
        font-size: 35px;
    }
    .socialmediasvg{
        display: flex;
        align-items: center;
        margin-left: 10%;
        width: 80%;
        justify-content: space-around;
        text-align: center;
    }
    ul li{
        list-style: none;
    }
    .messagediv{
        display: flex;
        align-items: center;
        width:100%;
        justify-content: st;
    }
    
    .form{
        flex:1;
    
        background-color: #F8F9FB;    
    }
    @media only screen and (max-width: 800px) {
        .contactcontainer {
          flex-direction: column;
          height: 1200px;
        }
        h3 p{
            font-size: medium;   
        }
        p.emailid{
            font-size: 20px;
        }
      }
      @media only screen and (max-width: 400px) {
        
        p.emailid{
            font-size: 15px;
        }
      }
      form input{
        
        padding: 20px 20px;

        margin-right: 10%;
        
        margin-top: 2%;
        margin-bottom: 2%;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid #01CB63;
        background-color: #F8F9FB;
        
    }
      input:focus{

        outline: none; 
      }
      textarea{
          margin-top: 10%;
          width: 80%;
      }
      textarea:focus{
          outline: none;
      }
    /*footer starts */

    .footer{
        
        width: 100%;
        height: 100px;
        align-items: center;
        font-weight: bold;
        font-size: 25px;
        display: flex;
        flex-wrap: wrap;
        text-align: center ;
    }
    .certificate{
        flex: 2;
        
    }
    .tc{
        flex: 1;
        margin-right: 10%;
        margin-left: 5%;
    }
    .privacy{
        flex: 1;
    }
    
@media only screen and (max-width: 600px) {
    .footer {
        font-size: medium;
      text-align:center;
    }
  }