.numbercontainer{
    display: flex;
    width: 100%;
    height: 100px;
    text-align: center;
}
@media (max-width:415px) {
    .numbercontainer h3,h5{
        font-size: small;
        font-weight: bold;
    }
  }
.number1{
    text-align: end;
    align-items: center;
flex: 1;
flex-shrink: 0;
background-color:  rgb(236, 236, 236);
justify-content: center;
display: flex;
flex-direction: column;
;
}
.number2{
    text-align: end;
    align-items: center;
    background-color:  rgb(236, 236, 236);
    flex: 1;
    justify-content: center;
    display: flex;
flex-direction: column;
flex-shrink: 0;
}
.number3{
    text-align: start;
    align-items: center;
    flex: 1;
    background-color: rgb(236, 236, 236);
    justify-content: center;
    display: flex;
flex-direction: column;
flex-shrink: 0;
}
.numbercontainer h3{
color: rgb(0, 0, 0);
border-bottom: 4px solid #01cb63;
}
h5{
    color: #86919D;
}